body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: 1fr 1fr;
    height:100vh;
    background: #f23557;
    color: #f0d43a;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    
}

.holder{
    display:flex;
    flex-direction:column;
    align-items: center;
}


.entry{
    background: rgba(59, 74, 107, .4);
}

#entryHolder{
    align-self: flex-start;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    font-size: 1.2em;
    padding: 1em;

}

#date{
    margin: 1em;
}

#temp{
    margin: 1em;
}

#content{
    margin: 1em;

}

.headline {
    grid-column: 1/3;
    font-size: 60px;
    font-weight: 100;
    
}
.title{
    font-size: 1.2em;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    width: 400px;
    height: 100px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    cursor:pointer
}
h1{
    font-size: 36px;
}

textarea{
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 